<!DOCTYPE html>
<html lang="en">
<head>
    <title>MyPal - Sign up</title>
</head>
<body>

    <form>

        <h2>Your personalised workspace.</h2>
        <h2>Create your paypal account</h2>


        <p>--------------Sign up with--------------</p>

         <div class="card-container">
            <div class="card">
                <p>Google</p>
            </div>
            <div class="card">
                <p>Microsoft</p>
            </div>
            <div class="card">
                <p>Apple</p>
            </div>
            <div class="card">
                <p>Facebook</p>
            </div>
       </div>

        <p>--------------or continue with--------------</p>

        <label for="first_name">First Name</label>
        <br><br>
        <input type="text" id="first_name" placeholder="Enter your first name..." required>
        <br><br>

        <label for="last_name">Last Name</label>
        <br><br>
        <input type="text" id="last_name" placeholder="Enter your last name..." required>
        <br><br>

        <label for="email">email</label>
        <br><br>
        <input type="email" id="email" placeholder="Enter your email address..." required>
        <p>Use an organization email to easily collaborate with teammates</p>
        <br>

        <label for="password">Password</label>
        <br><br>
        <input type="password" id="password" placeholder="Enter your password..." required>
        <br><br>

        <label for="confirm_password">Confirm Password</label>
        <br><br>
        <input type="password" id="confirm_password" placeholder="Confirm your password..." required>
        <br><br>

        <p>By continuing, you acknowledge that you understand <br>
            and agree to the Terms & Conditions and Privacy Policy
        </p>

    </form>

    

</body>
</html>